body{
    height: 100%;
    margin: 0;
}
.corpo{
    background-image: url("../img/20160710_mm18_NovaQuest_001.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.menu__principal{
    padding: 0.1px 0;
}
.menu{
    padding: 2%;
    background-color: gray;
    position: absolute;
    width: 100%;
}
.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    font-size: unset;
}
.Logo{
    float: right;
    font-size: 20px;
}
.Login{
    position: absolute;
    background-color: rgba(105, 105, 105, 1);
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 35px;
}
.colocando__dados{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    width: 100%;
}
.linha{
    margin-top: 10%;
    margin-bottom: 10%;
}
.pergunta{
    color: white;
    font-size: 14px;
    text-align: center;
    margin-top: 20%;
}
.atalho{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
a:hover{
    color: dodgerblue;
}
.botao{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.botao:hover{
    background-color: deepskyblue;
}
.fundo{
    width: 100%;
    height: 730px;
    position: relative;
    background-position: center;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-repeat: no-repeat;
    color: white;
}
.titulo{
    text-align: center;
    font-size: 25px;
    color: white;
    margin-top: 50px;
}
.titulo1{
    float: center;
    text-align: center;
    margin-top: 10%;
    font-size: 35px;
    color: white; 
    margin-bottom: 30px;
}
.titulo2{
    float: center;
    text-align: center;
    top: 0;
    font-size: 35px;
    color: white; 
    margin-bottom: 30px;
}
@media screen and (max-width: 414px) {
    .menu{
        position: absolute;
        padding-top: 5%;
        padding-left: 11%;
        width: 100%;
        background-color: gray;
        font-size: 12px;
    }
    .Login{
        top: 63%;
        padding: 20px;
    }
    .titulo1{
        font-size: 20px;
        padding-top: 15%;
    }
}
@media screen and (max-width: 390px) {
    .menu{
        padding-left: 10%;
    }
}
@media screen and (max-width: 375px) {
    .menu{
        padding-left: 7.5%;
    }
    .Login{
        top: 60%;
        padding: 15px;
    }
    .colocando__dados{
        padding: 10px;
    }
}
@media screen and (max-width: 320px) {
    .menu{
        padding-left: 7%;
    }
    .titulo1{
        font-size: 15px;
        padding: 0px;
    }
    .Login{
        top: 57%;
        padding: 15px;
    }
}
