body{
    height: 100%;
    margin: 0;
}
*{
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.corpo{
    background-image: url("../img/nova-quest38253.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
}
.menu__principal{
    padding: 0.1px 0;
}
.menu{
    padding: 2%;
    background-color: gray;
    position: absolute;
    width: 100%;
}
.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    font-size: 20px;
}
a:hover{
    color: dodgerblue;
}
.Logo{
    float: right;
    font-size: 20px;
}
.fundo{
    width: 100%;
    height: 730px;
    position: relative;
    background-position: center;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-repeat: no-repeat;
    color: white;
}
.titulo{
    text-align: center;
    padding: 8%;
    font-size: 45px;
    color: white;
    margin-top: 50px;
}
.titulo__produto{
    margin: 10px;
    position: absolute;
    font-family: sans-serif;
    margin-top: 14em;
}
.imagens{
    width: 20%;
    height: 40%;
    margin: 10px;
    position: absolute;
    background-color: gray;
    border-radius: 15px;
}

.container__caixa {
    height: 400px;
    display: inline-flex;
    justify-content: center;
    width: 33%;
}
.ancora {
    text-decoration: none;
    color: white;
}
.texto {
    margin: 10px;
    position: absolute;
    margin-left: 1%;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25em;
}
@media screen and (max-width: 414px) {
    .menu{
        position: absolute;
        padding-top: 5%;
        padding-left: 11%;
        width: 100%;
        background-color: gray;
        font-size: 12px;
    }
    .imagens{
        width: 70%;
        display: block;
    }

    .container__caixa {
        width: 100%;
        height: 32em;
    }
}
@media screen and (max-width: 375px) {
    .menu{
        position: absolute;
        padding-top: 5%;
        padding-left: 7.5%;
        width: 100%;
        background-color: gray;
        font-size: 12px;

    .container__caixa{
        width: 100%;
        height: 32rem;
    }

    .imagens{
        width: 70%;
        display: block;
    }
}
@media screen and (max-width: 320px) {
    .menu{
        position: absolute;
        padding-top: 5%;
        padding-left: 7%;
        width: 100%;
        background-color: gray;
        font-size: 10px;
    }
    .container__caixa{
        width: 100%;
        height: 32rem;
    }

    .imagens{
        width: 70%;
        display: block;
    }
}
