body{
    height: 100%;
    margin: 0;
}
.corpo{
    background-image: url("../img/nova-quest38253.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.Cadastro{
    position: absolute;
    background-color: rgba(105, 105, 105, 1);
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 20px;
    width: max-content;
}
.colocando__dados{
    padding: 19px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    width: 200px;
    margin-top: 15px;
    margin: 10px;
}
hr{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
}
.fundo{
    width: 100%;
    height: 750px;
    position: relative;
    background-position: center 0%;
    background-size: cover;
    background-image: url(nova-quest30183.jpg);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.titulo1{
    text-align: center;
    top: 10px ;
    font-size: 45px;
    color: white;
}
.titulo1{
    float: center;
    text-align: center;
    top: 0;
    font-size: 35px;
    color: white; 
    margin-bottom: 30px;
}
.botao{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
.botao:hover{
    background-color: deepskyblue;
}
.menu__principal{
    padding: 0.1px 0;
}
.menu{
    padding: 2%;
    background-color: gray;
    position: absolute;
    width: 100%;
}
.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    font-size: 20px;
}
.Logo{
    float: right;
    font-size: 20px;
}
@media screen and (max-width: 414px) {
    .menu{
        position: absolute;
        padding-top: 5%;
        padding-left: 11%;
        width: 100%;
        background-color: gray;
        font-size: 12px;
    }
    .titulo1{
        font-size: 25px;
    }
    .Cadastro{
        top: 60%;
        padding: 25px;
        width: auto;
    }
    .colocando__dados{
        padding: 10px;
    }
    .botao{
        padding: 10px;
    }
    .voltar{
        font-size: 15px;
    }
}
@media screen and (max-width: 390px) {
    .menu{
        position: absolute;
        padding-top: 5%;
        padding-left: 12%;
        width: 100%;
        background-color: gray;
        font-size: 12px;
    }
}
@media screen and (max-width: 375px) {
    .menu{
        position: absolute;
        padding-top: 5%;
        padding-left: 7.5%;
        width: 100%;
        background-color: gray;
        font-size: 12px;
    }
    .titulo1{
        font-size: 20px;
    }
    .Cadastro{
        top: 60%;
        padding: 10px;
        width: auto;
    }
    .colocando__dados{
        padding: 10px;
    }
    .botao{
        padding: 5px;
    }
    .voltar{
        font-size: 15px;
    }
}
@media screen and (max-width: 320px) {
    .menu{
        position: absolute;
        padding-top: 5%;
        padding-left: 7%;
        width: 100%;
        background-color: gray;
        font-size: 10px;
    }
    .titulo1{
        font-size: 20px;
    }
    .Cadastro{
        top: 58%;
        padding: 10px;
        width: auto;
    }
    .colocando__dados{
        padding: 5px;
    }
    .botao{
        padding: 5px;
    }
}
