body{
    height: 100%;
    margin: 0;
}
.corpo{
    background-image: url("../img/nova-quest38253.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.menu__principal{
    padding: 0.1px 0;
}
.menu{
    padding: 2%;
    background-color: gray;
    position: absolute;
    width: 100%;
}
.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    font-size: unset;
}
a:hover{
    color: dodgerblue;
}
.Logo{
    float: right;
    font-size: 20px;
}
.texto{
    margin-top: 35em;
    padding-top: 5%;
    padding-right: 25px;
    padding-bottom: 5%;
    padding-left: 25px;
    color: white;
    font-size: 25px;
    background-color: gray;
}
.titulo1{
    color: white;
    text-align: center;
    padding-top: 10em;
}
@media screen and (max-width: 414px) {
    .menu{
        position: absolute;
        padding-top: 5%;
        padding-left: 11%;
        width: 100%;
        background-color: gray;
        font-size: 12px;
    }
}
@media screen and (max-width: 390px) {
    .corpo{
        background-attachment: fixed;
    }
    .menu{
        padding-left: 10%;
    }
}
@media screen and (max-width: 375px) {
    .menu{
        padding-left: 7.5%;
    }
}
@media screen and (max-width: 320px) {
    .menu{
        padding-left: 7%;
        font-size: 10px;
    }
}
